
#navBar,#list{
   display: flex;
   list-style: none;
   background-color: aqua;
   justify-content:space-between;
}

#logo{
    width: 30vw;
}
#list{
    gap:30px;
}

#phone{

    display: flex;
    align-items: center;
}