body{
    margin: 0;
    padding: 0;
}
*{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

#box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 50%;
    height: 40px;
    border: 2px dotted green;
    font-size: 20px;
}
h1{
    color: red;
}

#imgBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 10px;
}